---
import { useTranslations } from '@/i18n';

const t = useTranslations();
---

<footer>
    <div class="mt-16 flex flex-col items-center">
        <div class="mb-8 flex space-x-2 text-sm text-gray-500">
            <div>{`© ${new Date().getFullYear()}`}</div>
            <div>•</div>
            <div>{t('siteMetadata.title')}</div>
        </div>
    </div>
</footer>
