---
import { NAVIGATION } from "@/consts";
import HeaderLink from "./HeaderLink.astro";
import Logo from "./Logo.astro";
import MobileNav from "@/solid/MobileNav.tsx";
import SearchButton from "@/solid/SearchButton.tsx";
import ThemeSwitcher from "@/solid/ThemeSwitcher.tsx";
import { useTranslations } from "@/i18n";

const t = useTranslations();
---

<header class="flex items-center justify-between py-8 border-b border-border/50 mb-2">
  <a href="/" aria-label={t("siteMetadata.headerTitle")} class="shrink-0">
    <Logo />
  </a>
  <nav class="hidden sm:flex items-center gap-7" aria-label="Main navigation">
    {
      NAVIGATION.filter((link) => link.href !== "/").map((link) => (
        <HeaderLink href={link.href}>
          {t(link.title)}
        </HeaderLink>
      ))
    }
  </nav>
  <div class="flex items-center gap-3">
    <SearchButton client:only="solid-js" />
    <ThemeSwitcher client:only="solid-js" />
    <MobileNav client:only="solid-js" />
  </div>
</header>
